.THIS .upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.THIS .btn {
  border: 2px solid rgb(0, 112, 210);
  color: rgb(0, 112, 210);
  background-color: white;
  padding: 0px 15px;
  border-radius:12px;
  font-size: 18px;
  font-weight: bold;
}

.THIS .upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.THIS .border-style-none {
  border-style: none;
}
.THIS .width-100-per {
  width: 100%;
}